*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-image: url(bg-hero-desktop.svg);
    background-color: hsl(192, 76%, 88%);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600
}
img{
    margin-top: 18px;margin-left: 16px
}
button[type="button"]{
    width: 120px;
    cursor: pointer;
    height: 40px;
    text-align: center;
    float: right;
    background-color: white;
    margin-top: 18px;
    margin-right: 16px;
    border-radius: 20px;
    border: 0px;
}
span a{
    text-decoration: none;
   bottom: 2px;
   color: black
}
button[type="submit"]{
    margin-left: 93px;
    background: hsl(322, 100%, 66%);
    margin-top: 20px;
    width: 180px;
    height: 37px;
    border-radius: 20px;
    cursor: pointer;
    color: white;border: 0px
}
header img[class="mockup"]{
    margin-left: 670px;
    transform: translateY(-90%);
}

.text p{
    text-align: justify;
    margin-top: 280px;
    margin-left: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,700

}
.text h2{
    position: absolute;
    font-size: 33px;
   left: 100px;
   bottom: 350px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400,700
}
.sec{
    height: 300px;
    width: 1140px;
    margin-left: 85px;
    margin-top: 80px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-sizing: border-box;
    border-radius: 7px
}
.sec h3{
    font-size: 22px;
   margin-left: 90px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400,700
}
.sec p{
    text-align: justify;
    margin-top: 40px;
    margin-left: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,700
}
.sec img{
 margin-left: 780px;
transform: translateY(-88%);
}
.third{
    height: 300px;
    width: 1140px;
    margin-left: 85px;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-sizing: border-box;
    border-radius: 7px
}
.third img{
    margin-top: 60px;
    margin-left: 100px;
}
.third h3{
    margin-left: 610px;
    transform: translateY(-750%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,700
}
.third p{
    margin-left: 610px;
    transform: translateY(-218%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,700
}
.forth{
    height: 300px;
    width: 1140px;
    margin-left: 85px;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    box-sizing: border-box;
    border-radius: 7px
}
.forth h3{
    font-size: 22px;
   margin-left: 90px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400,700
}
.forth p{
    text-align: justify;
    margin-top: 40px;
    margin-left: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,700
}
.forth img{
 margin-left: 780px;
transform: translateY(-95%);
}
.ready{
    max-width: 400px;
    max-height: 150px;
    margin-left: 455px;
    margin-top: 80px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    box-sizing: border-box;
    border-radius: 7px ;
   transform: translateY(40%);
   background-color: #fff
}
.ready h2{
    font-size: 18px;
   margin-left: 55px;
   transform: translateY(150%);
   font-family: 'Open Sans', sans-serif;
   font-weight: 400,700
}
.ready button[type="reset"]{
    width: 200px;
    margin-left: 100px;
    background: hsl(322, 100%, 66%);
    margin-top: 60px;
    border-radius: 20px;
    height: 37px;
    cursor: pointer;
    color: white;border: 0px;
}
.foot{
    background-color: hsl(192, 100%, 9%);
    height: 300px;
}
.foot img[src="icon-location.svg"]{
    margin-top: 40px
}
.foot img[src="icon-phone.svg"]{
    margin-top: 42px
}
.foot img[src="icon-email.svg"]{
    margin-top: 40px
}
.foot span{
    color: #fff;
    margin-left: 30px;
    margin-top: 18px;
}
.first-Ul{
    margin-left: 720px;
    color: #fff;
    transform: translateY(-150%)
}
.first-Ul li{
    margin-bottom: 18px;
    list-style: none;
}
.second-Ul{
    margin-left: 1000px;
    color: #fff;
    transform: translateY(-270%)
}
.second-Ul li{
    margin-bottom: 18px;
    list-style: none;
}
p[class="copywright"]{
    color: #fff;
    margin-left: 900px;
    transform: translateY(-210px)
}
@media screen and (max-width:375px){
    header{
        margin: 0px 2px auto;
        max-width: 100%;
        max-height: 130vh;
    }
    .text h2{
        top: 180px;
        text-align: center;
       left: 5px
    }
    .text p{
        text-align: center;
        margin-left: 5px
    }
    button[type="submit"]{
        margin-left: 78px
    }
    img[class="mockup"]{
        display: none;
      right: 400px;
      width:250px
    }
    .sec{
        margin: 18px 20px auto;
       transform: translateX(0%);
        max-width: 325px;
        height: 120vh;
    }
    .sec img{
        margin-left: 10px;
    transform: translateY(80%);
        max-width: 250px;
        max-height: 110px;
    }
    .sec h3{
        margin-left: 75px
    }
    .sec p{
        text-align: center;
        margin-left: 2px
    }
    .third{
        margin: 18px 20px auto;
        max-width: 325px;
        transform: translateX(0%);
                max-height: 120vh;
    }
    .third img{
        margin-left: 35px;
       margin-top:100px;
        max-width: 250px;
        max-height: 120px;
    }
    .third h3{
        margin-left: 65px;
        margin-top: 270px
    }
    .third p{
        text-align: center;
        margin-left: 2px;
        margin-top: 100px
    }
    .forth{
        margin: 18px 20px auto;
        transform: translateX(0%);
                max-width: 325px;
        max-height: 110vh;
    }
    .forth img{
        margin-left: 35px;
       transform: translateY(70%);
        max-width: 250px;
        max-height: 120px;
    }
    .forth h3{
        margin-left: 90px
    }
    .forth p{
        text-align: center;
        margin-left: 2px
    }
    .ready{
        margin: 18px 48px auto;
        width: 270px;
        height: 28vh;
    }
    .ready h2{
        font-size: 15px;
        margin-left: 18px
    }
    .ready button[type="reset"]{
        margin-left: 28px;
        margin-top: 43px
    }
    .foot{
        max-height: 146vh;
    }
    .foot img[src="logo.svg"]{
        margin-top: 110px
    }
    .foot span[class="location"],.foot span[class="phone"],.foot span[class="email"]{
        font-size: 12px;
        margin-left: 20px
    }
    
    .first-Ul{
        margin-left: 15px;
        color: #fff;
        transform: translateY(80%)
    }
    .second-Ul{
        margin-left: 15px;
        color: #fff;
        transform: translateY(83%)
    }
    p[class="copywright"]{
        font-size: 12px;
        margin-left: 10px;
        transform: translateY(600%)
    }
}
@media screen and (max-width:425px){
    header{
        margin: 0px 2px auto;
        max-width: 100%;
        max-height: 130vh;
    }
    .text h2{
        top: 180px;
        text-align: center;
       left: 25px
    }
    .text p{
        text-align: center;
        margin-left: 10px
    }
    button[type="submit"]{
        margin-left: 78px
    }
    img[class="mockup"]{
        display: none;
      right: 400px;
      max-width:250px
    }
    .sec{
        margin: 18px 20px auto;
        max-width: 325px;
        height: 120vh;
    }
    .sec img{
        margin-left: 35px;
    transform: translateY(80%);
        width: 250px;
        height: 110px;
    }
    .sec h3{
        margin-left: 75px
    }
    .sec p{
        text-align: center;
        margin-left: 2px
    }
    .third{
        margin: 18px 20px auto;
        width: 325px;
        height: 120vh;
    }
    .third img{
        margin-left: 35px;
       margin-top:100px;
        width: 250px;
        height: 120px;
    }
    .third h3{
        margin-left: 65px;
        margin-top: 270px
    }
    .third p{
        text-align: center;
        margin-left: 2px;
        margin-top: 100px
    }
    .forth{
        margin: 18px 20px auto;
        width: 325px;
        height: 110vh;
    }
    .forth img{
        margin-left: 35px;
       transform: translateY(70%);
        width: 250px;
        height: 120px;
    }
    .forth h3{
        margin-left: 90px
    }
    .forth p{
        text-align: center;
        margin-left: 2px
    }
    .ready{
        margin: 18px 48px auto;
        max-width: 270px;
        max-height: 28vh;
    }
    .ready h2{
        font-size: 15px;
        margin-left: 18px
    }
    .ready button[type="reset"]{
        margin-left: 28px;
        margin-top: 43px
    }
    .foot{
        height: 146vh;
    }
    .foot img[src="logo.svg"]{
        margin-top: 110px
    }
    .foot span[class="location"],.foot span[class="phone"],.foot span[class="email"]{
        font-size: 12px;
        margin-left: 20px
    }
    
    .first-Ul{
        margin-left: 15px;
        color: #fff;
        transform: translateY(80%)
    }
    .second-Ul{
        margin-left: 15px;
        color: #fff;
        transform: translateY(83%)
    }
    p[class="copywright"]{
        font-size: 12px;
        margin-left: 10px;
        transform: translateY(600%)
    }
}
/* @media screen and (max-width:768px){
    header{
        margin: 0px 2px auto;
        max-width: 100%;
        max-height: 90vh;
    }

   header img[class="mockup"]{
margin-left: 420px;
width: 300px;
height: 220px;
transform: translateY(-110%)
    }
    .text h2{
        top: 150px;
        font-size: 28px;
        left: 40px;
    }
    .text p{
        font-size: 12px;
        margin-left: 40px;
        margin-top: 200px
    }
    button[type="submit"]{
        margin-left: 40px;
    }
    .sec,.third,.forth{
        width: 715px;
        margin-left: 20px
    }
    .sec h3,.third h3,.forth h3{
        font-size: 18px;
    }
    .sec p,.third p,.forth p{
        font-size: 13px
    }
    .sec img{
        margin-left: 460px;
        max-width: 200px;
        max-height: 150px;
    }
    .third h3{
margin-top: 60px ;
margin-left: 330px
    }
    .third img{
        margin-left: 50px;
        max-width: 200px;
        max-height: 150px
    }
    .third p{
        margin-left: 330px;
        transform: translateY(-250%);    }

}
.forth img{
    margin-left: 460px;
    max-width: 200px;
    max-height: 150px;
}
.ready{
    margin: 18px 48px auto;
    max-width: 350px;
    max-height: 200px;
margin-left: 200px;
}
.ready button[type="reset"]{
    margin-bottom: 20px;
    margin-left: 70px
}
.ready h2{
    font-size: 14px ;
    margin-top: 15px

}
.first-Ul{
    font-size: 13px;
    margin-left: 450px;
    color: #fff;
    transform: translateY(-170%)
}
.second-Ul{
    font-size: 13px;
    margin-left: 600px;
    color: #fff;
    transform: translateY(-290%)
}
.foot span[class="location"],.foot span[class="phone"],.foot span[class="email"]{
    font-size: 13px
}
p[class="copywright"]{
    color: #fff;
    font-size: 12px;
    margin-left: 400px;
    transform: translateY(-188px)
} */